<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Neon Beats Festival</title>
	</head>
	<body>
		<div id="landing">
			<div id="mountain_background">
				<div id="mountain_1" class="mountain"/>
				<div id="mountain_2" class="mountain"/>
				<div id="mountain_3" class="mountain"/>
				<div id="mountain_4" class="mountain"/>
			</div>
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
	}
	#landing{
		display: flex;
		width:100%;
		height:100vh;
		background-color: #461762;
	}
	#mountain_background{
		position: absolute;
		top: 30%;
		height: 70vh;
		width: 100%;
	}

	#mountain_1{
		background-image: url("/svg/mountain_sheet_2.svg");
		top: 40%;
		left: 20%;
		width: 60%;
		height: 60%;
	}
	#mountain_2{
		background-image: url("/svg/mountain_sheet_1.svg");
		top: 40%;
		left: 40%;
		width: 60%;
		height: 60%;
	}
	#mountain_3{
		background-image: url("/svg/mountain_sheet_4.svg");
		top: 30%;
		left: 30%;
		width: 70%;
		height: 70%;
	}
	#mountain_4{
		background-image: url("/svg/mountain_sheet_4.svg");
		top: 30%;
		right: 30%;
		width: 70%;
		height: 70%;
		transform: scaleX(-1)
	}

	.mountain{
		background-size: cover;
		position: absolute;
	}	
</style>
