---
import FooterCopyright from "../components/FooterCopyright.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout>
    <div class="w-full h-full color">
        <div class="text-center pt-40">
            <h1 class="text-8xl font-medium titulo">MERCH</h1>
            <div class="w-full flex justify-center space-x-28 mt-10">
                <div class="flex flex-col w-1/5 h-auto">
                    <div class="bordecito rounded-2xl">
                        <img class="rounded-2xl" src="../../public/jpg/camiseta betis.jpg" alt="camiseta del betih">
                    </div>
                    <button class="mt-8">Comprar</button>
                </div>
                <div class="flex flex-col w-1/5 h-auto">
                    <div class=" bordecito rounded-2xl">
                        <img class="rounded-2xl" src="../../public/jpg/mechero.jpg" alt="mechero">
                    </div>
                    <button class="mt-8">Comprar</button>
                </div>
                <div class="flex flex-col w-1/5 h-auto">
                    <div class=" bordecito rounded-2xl">
                        <img class="rounded-2xl" src="../../public/jpg/botellines.jpg" alt="botellines">
                    </div>
                    <button class="mt-8">Comprar</button>
                </div>

            </div>
        </div>
    </div>
<FooterCopyright></FooterCopyright>
</Layout>

<style>
    .color{
        background-color: #0a0a1a;
    }
    .titulo{
        color:#ff00ff;
        text-shadow: 0 0 10px #ff00ff;
    }
    .bordecito{
        border: 3px solid #ff00ff;
    }
</style>