---
import Layout from "../layouts/Layout.astro";


---

<Layout>
    <div class="w-full h-full color">
        <div class="text-center pt-40">
            <h1 class="text-8xl font-medium titulo">MERCH</h1>
            <div class="w-full flex space-x-5">
                <div class="w-1/5 h-auto">
                    x
                </div>
                <div>

                </div>
                <div>

                </div>

            </div>
        </div>
    </div>
</Layout>

<style>
    .color{
        background-color: #0a0a1a;
    }
    .titulo{
        color:#ff00ff;
        text-shadow: 0 0 10px #ff00ff;
    }
</style>