---
---

<section class="artistas">
  <h2>ARTISTAS</h2>
  <div class="contenedor">
    <div class="artista">
      <div class="img-container">
        <img src="https://imgproxy.ra.co/_/quality:66/aHR0cHM6Ly9zdGF0aWMucmEuY28vaW1hZ2VzL3Byb2ZpbGVzL2xnL2RhdmlkZ3VldHRhLmpwZz9kYXRlVXBkYXRlZD0xNDgwOTU3MDM3MDAw" alt="David Guetta">
      </div>
      <p>DAVID GUETTA</p>
    </div>
    <div class="artista">
      <div class="img-container">
        <img src="https://cdn-images.dzcdn.net/images/artist/7990773a89df9f06fc2b871ad1de00bf/500x500.jpg" alt="Marshmello">
      </div>
      <p>MARSHMELLO</p>
    </div>
    <div class="artista">
      <div class="img-container">
        <img src="https://www.tusdj.com/wp-content/uploads/2016/07/Tiesto-Take-Me-Home-Remix.jpg" alt="Tiesto">
      </div>
      <p>TIESTO</p>
    </div>
    <div class="artista">
        <div class="img-container">
          <img src="https://viciousmagazine.com/wp-content/uploads/2024/12/FOx3s-YXoAsOgdM.jpg" alt="Armin van Buuren">
        </div>
        <p>ARMIN VAN BUUREN</p>
      </div>
      <div class="artista">
        <div class="img-container">
          <img src="https://upload.wikimedia.org/wikipedia/commons/0/02/Calvin_Harris_-_Rock_in_Rio_Madrid_2012_-_09.jpg" alt="Calvin Harris">
        </div>
        <p>CALVIN HARRIS</p>
      </div>
  </div>
</section>

<style>
  .artistas {
    text-align: center;
    background-color: #0a0a1a;
    color: white;
    padding: 40px 20px;
  }

  .artistas h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ff00ff;
    text-shadow: 0 0 10px #ff00ff;
    margin-bottom: 20px;
  }

  .contenedor {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .artista {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
  }

  .img-container {
    width: 180px;
    height: 180px;
    border: 3px solid #ff00ff;
    padding: 10px;
    border-radius: 15px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px #ff00ff;
  }

  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .artista p {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 5px #ff00ff;
  }
</style>
