---
import "../styles/global.css";
---

<header class="fixed top-0 left-0 w-full bg-transparent backdrop-blur-md py-4">
    <nav class="flex justify-center items-center gap-8 text-white font-semibold text-3xl">
      <a href="/" class="hover:underline">Home</a>
      <a href="/entradas" class="hover:underline">Entradas</a>
      <a href="/actividades" class="hover:underline">Actividades</a>
      <a href="/merchandise" class="hover:underline">Merch</a>
    </nav>
</header>
  